h4{
        color:white;
}
h1{
        color: grey;
        margin-top: 5px;
}
.row{
<<<<<<< HEAD
        background:whitesmoke;
=======
        background: whitesmoke;
>>>>>>> 79d932fd27628209e7333db4fc996d0f9811fb3e
}