<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand/logo -->
    <a class="navbar-brand" href="#">
        <img src="assets/einstein.png" alt="logo" style="width:40px">
    </a>
    <h4>Team Einstein</h4>
</nav>
        <div class="container">
                <h1>LOGIN</h1>
                <hr>
            <div class="row">
                <div class="col-md-6">
                    <form #loginForm="ngForm">
                        <div class="form-group">
                            <label> User Name: </label>
                            <input required [(ngModel)]="user.userName" name="userName" id="userName"
                                class="form-control" placeholder="Enter your User Name..." #userName="ngModel"
                                [class.is-invalid]="userName.invalid && userName.touched" class="form-control">
                            <small class="text-danger" [class.d-none]="userName.valid || userName.untouched">userName is
                                not
                                entered</small>
                        </div>

                        <div class="form-group">
                            <label> User Password: </label>
                            <input class="form-control" [(ngModel)]="user.userPassword" name="userPassword"
                                id="userPassword" required placeholder="Enter userPassword" #userPassword="ngModel"
                                [class.is-invalid]="userPassword.invalid && userPassword.touched" class="form-control">
                            <small class="text-danger"
                                [class.d-none]="userPassword.valid || userPassword.untouched">user
                                Password is not entered</small>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" [disabled]="loginForm.form.invalid" type="submit"
                                (click)="loginn(user)">Login</button>
                        </div>
                    </form>
                    <div class="form-group">
                            <button class="btn btn-dark" (click)="signUp()">New User?</button>
                        </div>
                </div>
            </div>
        </div>
        