h4{
    color:white;
}
h1{
    color: grey;
    text-align: center;
}
h3{
    color: lightgreen;
}
form{
    text-align: center;
}
.col-md-6{
    margin-left: 270px;
}
.message{
    text-align: center;
}
.row{
    background: whitesmoke;
}
.navbar-nav{
    margin-left: 10px;
}