<!DOCTYPE html>
<head>
  <title>Bootstrap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">
      <img src="assets/einstein.png" alt="logo" style="width:40px">
  </a>
  
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewAllUser">View_All_Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addTest">Add_Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewAllTest">View_All_Test</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/addQuestion">Add_Question</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/viewAllQuestions">View_All_Questions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/assignTest">AssignTest</a>
    </li>
      <div > 
        <app-logout></app-logout>
      </div>
  </ul>
</nav>
</body>


