<app-admin-home></app-admin-home>
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form #questionForm="ngForm">
                    <div class="form-group">
                        <label > Test Id: </label>
                        <input required  [(ngModel)]="test.testId" name="testId" id="testId"
                            class="form-control"  placeholder="Enter your Test Id..." #testId="ngModel" [class.is-invalid]="testId.invalid && testId.touched" class="form-control">
                            <small class="text-danger" [class.d-none]="testId.valid || testId.untouched">testId is not entered</small>
                        </div>

                    <div class="form-group">
                        <label for="question Id"> Question Id: </label>
                        <input class="form-control"  [(ngModel)]="question.questionId" name="questionID" id="questionId" required
                            placeholder="Enter question ID" #questionId="ngModel" [class.is-invalid]="questionId.invalid && questionId.touched" class="form-control">
                         <small class="text-danger" [class.d-none]="questionId.valid || questionId.untouched">questionId is not entered</small>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="question marks">Question marks: </label>
                        <input class="form-control"  [(ngModel)]="question.questionMarks" name="questionMarks" id="questionMarks" required
                            placeholder="Enter question marks" #questionMarks="ngModel" [class.is-invalid]="questionMarks.invalid && questionMarks.touched" class="form-control">
                            <small class="text-danger" [class.d-none]="questionMarks.valid || questionMarks.untouched">questionMarks is not entered</small>
                    </div>
                    
                    
                    <div class="form-group">
                        <label for="question Title">Question Title: </label>
                        <input class="form-control"  [(ngModel)]="question.questionTitle" name="questionTitle" id="questionTitle" required
                            placeholder="Enter question Title" #questionTitle="ngModel" [class.is-invalid]="questionTitle.invalid && questionTitle.touched" class="form-control">
                            <small class="text-danger" [class.d-none]="questionTitle.valid || questionTitle.untouched">questionTitle is not entered</small>
                        </div>
            
                   
                   
                
                    
                    <div class="form-group">
                        <label for="question Options">Question Options: </label>
                            <table>
                                <tbody>
                                    <tr>
                                        <td><input type="number" class="form-control"  [(ngModel)]="answerId1" name="answerId1" id="answerId1" required
                                        placeholder="Enter numeric" ></td>
                                        <td><input type="text" class="form-control"  [(ngModel)]="value1" name="value1" id="value1" required
                                            placeholder="Write option in string "  > </td>
                                    </tr>
                                    <!-- <tr>
                                        <td><input class="form-control" [(ngModel)]="answerId2" name="answerId2" id="answerId2" required
                                        placeholder="Enter numeric" ></td>
                                        <td><input class="form-control" [(ngModel)]="value2" name="value2" id="value2" required
                                            placeholder="Write option in string "  > </td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" [(ngModel)]="answerId3" name="answerId3" id="answerId3" required
                                        placeholder="Enter numeric" ></td>
                                        <td><input class="form-control" [(ngModel)]="value3" name="value3" id="value3" required
                                            placeholder="Write option in string "  > </td>
                                    </tr>
                                    <tr>
                                        <td><input class="form-control" [(ngModel)]="answerId4" name="answerId4" id="answerId4" required
                                        placeholder="Enter numeric" ></td>
                                        <td><input class="form-control" [(ngModel)]="value4" name="value4" id="value4" required
                                            placeholder="Write option in string "  > </td>
                                    </tr> -->
                    

                                </tbody>
                            </table>
                        
                    </div>

                    
                    
                    
                    
                    
                    
                    <div class="form-group">
                        <button class="btn btn-success" [disabled]="questionForm.form.invalid" type="submit"  (click)="save()">Add</button>
                    </div>
            </form>
           
        </div>

    </div>
</div>







 












